
.emp-div {
  margin: 2rem auto;
  width: 1100px;
  text-align: center;
}


.emp-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.emp-item {
  display: grid;
  grid-template-columns: 0.45fr 0.55fr;
  grid-template-rows: 1fr;
  box-shadow: 0 0 10px 1px grey;
  margin: 2rem 0;
  border-radius: 25px;
  width: 500px;
}

.emp-img {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emp-img > img {
  width: 150px;
  height: 150px;
}

.emp-details {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  padding: 1rem;
}

.emp-details > .row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
